* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

nav {
  background-color: #ba1124;
}
nav a span {
  color: #000;
  font-size: 30px;
  text-shadow: 0px 0px 5px #333;
}

.barra ul li {
  list-style: none;
  display: inline;
  padding: 0px 5px;
  border: 10px;
}
.barra ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.barra a:hover {
  color: #333;
}

.carousel-item {
  min-height: 400px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}
.carousel-caption h5 p {
  width: 60%;
  margin: 10px auto;
  font-size: 18px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.361);
  z-index: 1;
}

#trabajo {
  background-image: url(../image/ai-generated-8600463_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#local {
  background-image: url(../image/sucursales.jpg);
  background-size: cover;
  background-position: center;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #333;
  margin-left: 20px;
}

.burbuja {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.619);
  border: 5px solid rgba(178, 34, 34, 0.6705882353);
  border-radius: 7px;
  padding-bottom: 20px;
}
.burbuja p {
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  color: rgb(255, 255, 255);
}
.burbuja a {
  background-color: rgba(178, 34, 34, 0.6705882353);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 10px;
}
.burbuja a .burbuja a:hover {
  background-color: gray;
}

h2 {
  text-align: center;
  padding: 20px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 35px;
  background-color: #ba1124;
  color: white;
  font-size: 25px;
  font: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product {
  padding: 80px 0;
}

.transDown {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}

.transDown:hover {
  transform: translatey(20px);
  -webkit-transform: translatey(20px);
  -moz-transform: translatey(20px);
}

.nuestro {
  display: flex;
  background-color: rgba(178, 34, 34, 0.6705882353);
  border-radius: 10px;
}

.restaright p {
  font-size: 20px;
  text-align: left;
}

.card {
  background-color: #ba1124;
}

.card div img {
  width: 240px;
  height: 250px;
  margin-bottom: 20px;
}

.card-img {
  width: 530px;
  height: 350px;
  margin: 20px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3294117647);
}
.card-img-overlay h5 {
  margin-top: 40px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
}
.card-img-overlay p {
  padding: 20px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
}
.card-img-overlay p a {
  text-decoration: none;
  background-color: rgba(236, 177, 177, 0.6941176471);
  color: white;
  font-size: 20px;
}
.card-img-overlay a:hover {
  background-color: #720E07;
}

.card-body {
  background-color: rgba(236, 177, 177, 0.6941176471);
}

.card-title {
  font-size: 50px;
}

form {
  background-color: rgba(236, 177, 177, 0.6941176471);
  padding-bottom: 25px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}
footer div ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 5px;
  border: 10px;
}
footer div ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .carousel-item {
    min-height: 500px;
    min-width: 250px;
  }
  .carousel-item img {
    height: 500px;
    width: 500px;
  }
  .carousel-caption {
    bottom: 30px;
  }
  .carousel-caption h5 {
    font-size: 40px;
    margin-top: 0;
    text-align: center;
  }
  .carousel-caption p {
    width: 100%;
    font-size: 16px;
  }
  #trabajo {
    min-height: 400px;
    min-width: 250px;
  }
  #local {
    min-height: 1800px;
    min-width: 250px;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  #local .card-img {
    height: 300px;
    width: 320px;
  }
  .card-img-overlay h5 {
    font-size: 25px;
  }
  .card-img-overlay p {
    font-size: 15px;
  }
  .card-img-overlay p a {
    margin-top: 30px;
    font-size: 15px;
  }
  .burbuja {
    margin-top: 170px;
    margin-bottom: 170px;
  }
  .burbuja h1 {
    font-size: 35px;
    margin-top: 0;
    padding-right: 30px;
    text-align: center;
  }
  .burbuja p {
    width: 100%;
    font-size: 12px;
    padding-right: 30px;
  }
  .somos {
    margin-top: 50px;
    background-color: #720E07;
  }
}/*# sourceMappingURL=estilos.css.map */